body {
    background: #1f1f1f;
    color: #808080;
  }
  .content {
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}
.slick-slide .image {
    padding: 10px;
    margin:0 auto;
}
.slick-slide img {
    border: 5px solid #808080;
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
    width:85%;
    margin:0 auto;
    margin-top:70px;
  }
.slick-slide img.slick-loading {
    border: 0;
}

.slick-prev:before,
.slick-next:before
{
    color: #ce723c;
    font-size: 25px;
}

.slick-dots
{
    margin: 0 5px;
    color: #ce723c;
}

h1
{
    text-align:center;
}
